<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- xxx Change With Your Information xxx -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>Home page -  Door Step Delivery Company Logistics Service</title>
    <meta name="author" content=" DOOR STEP DELIVERY COMPANY">
    <meta name="description" content=" DOOR STEP DELIVERY COMPANY logistic, warehousing and cargo related services.">
    <meta name="keywords"
          content="Door Step Delivery Company, business, cargo, chain supply, company, corporate, expedition, freight, logistics, packaging, services, shipping, transport, transportation, trucking, warehousing">

    <!-- xxx Favicon xxx -->
    <link rel="shortcut icon" type="image/x-icon" href="/Frontend/assets/images/cover_prev_ui 1.png" />

    <!-- Main Style CSSS -->
    <link href="Frontend/assets/css/theme-plugins.min.css" rel="stylesheet">
    <!-- Main Theme CSS -->
    <link href="Frontend/assets/css/style.css" rel="stylesheet">
    <!-- Responsive Theme CSS -->
    <link href="Frontend/assets/css/responsive.css" rel="stylesheet">


    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/css/custom.css" />

    <script src="Frontend/assets/js/jquery.min.js"></script>
    <!-- Theme Custom FIle -->
    <script src="Frontend/assets/js/site-custom.js"></script>
    <link href="Frontend/assets/custom/loading-overlay.jquery.css" rel="stylesheet">
    <script src="Frontend/assets/custom/loading-overlay.jquery.html"></script>
    <link rel="shortcut icon" type="image/x-icon" href="Frontend/assets/images/cover_prev_ui.png" />
    <!-- Bootstrap CSS -->
    <link href="../Frontend/assets/css/cssreset.css" rel="stylesheet" />
    <link href="../Frontend/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../Frontend/assets/css/main.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/cbdf2b0f0e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>hello</h1>
    </header>

  <%- body %>

  <footer>
    <h2>Hello</h2>
  </footer>



  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64d44cc394cf5d49dc697fb0/1h7eknnpc';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
</body>
</html>