<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- xxx Change With Your Information xxx -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>Home page -  Door Step Delivery Company Logistics Service</title>
    <meta name="author" content=" DOOR STEP DELIVERY COMPANY">
    <meta name="description" content=" DOOR STEP DELIVERY COMPANY logistic, warehousing and cargo related services.">
    <meta name="keywords"
          content="Door Step Delivery Company, business, cargo, chain supply, company, corporate, expedition, freight, logistics, packaging, services, shipping, transport, transportation, trucking, warehousing">

    <!-- xxx Favicon xxx -->
    <link rel="shortcut icon" type="image/x-icon" href="/Frontend/assets/images/cover_prev_ui 1.png" />

    <!-- Main Style CSSS -->
    <link href="Frontend/assets/css/theme-plugins.min.css" rel="stylesheet">
    <!-- Main Theme CSS -->
    <link href="Frontend/assets/css/style.css" rel="stylesheet">
    <!-- Responsive Theme CSS -->
    <link href="Frontend/assets/css/responsive.css" rel="stylesheet">


    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/revolution/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="Frontend/assets/css/custom.css" />

    <script src="Frontend/assets/js/jquery.min.js"></script>
    <!-- Theme Custom FIle -->
    <script src="Frontend/assets/js/site-custom.js"></script>
    <link href="Frontend/assets/custom/loading-overlay.jquery.css" rel="stylesheet">
    <script src="Frontend/assets/custom/loading-overlay.jquery.html"></script>
</head>
<body>
    <header class="header-three wow fadeInDown" >

        <!-- Main Navigation Start -->
        <nav  class="header-fullpage navbar navbar-expand-lg">
            <div class="container">
                <div class="d-flex align-items-center">
                    <a id="lbb-logo" href="index.html">
                        <img src="Frontend/assets/images/cover_prev_ui.png" height="100" alt="logo" />
                    </a>

                    <a id="lbb-logo-mobile" href="index.html">
                        <img src="Frontend/assets/images/cover_prev_ui.png" height="100" alt="logo" />
                    </a>
                </div>
                <!-- Topbar Request Quote Start -->
                <!-- Topbar Request Quote End -->

                <div class=" nav-light" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0" id="onepage">
                        <li class="nav-item dropdown text-black">
                            <a class="nav-link" href="index.html" style="text-decoration: underline !important;"> Home
                            </a>
                        </li>

                    </ul>
                    <!-- Main Navigation End -->
                </div>
            </div>
        </nav>
        <!-- Main Navigation End -->
    </header>

  <%- body %>


    <footer class="wide-tb-40 bg-light-gray pb-0">
        <div class="container">
            <div class="row">

                <!-- Column First -->
                <div class="col-lg-12 align-items-center wow fadeInLeft" data-wow-duration="0" data-wow-delay="0s" style="display:flex; flex-direction:column; flex-wrap: wrap;">
                    <div class="logo-footer">

                        <img src="Frontend/assets/images/cover_prev_ui.png" alt="Company Logo">
                    </div>
                    <p style="text-align:center;">
                        DoorStepDeliveryCompany strives for exceptional delivery everyday.<br />
                        <b>123 Main Street, Los Angeles. United State</b>

                    </p>

                    <div class="social-icons">

                        <a href="#"><i class="icofont-facebook"></i></a>
                        <a href="#"><i class="icofont-instagram"></i></a>
                        <a href="#"><i class="icofont-whatsapp"></i></a>
                        <a href="#"><i class="icofont-google-plus"></i></a>

                    </div>
                </div>
                <!-- Column First -->


            </div>
        </div>

        <div class="copyright-wrap bg-navy-blue wide-tb-30" style="background-color:#4caf4c">
            <div class="container">
                <div class="row text-md-start text-center">

                    <div class="col-sm-12 col-md-12 text-center">
                        Powered by DoorStepDeliveryCompany© 2019 All Rights Reserved
                    </div>
                </div>
            </div>
        </div>

  </footer>


</body>
</html>